<form [formGroup]="borrowerForm">
  <div class="row">
    <div class="col-2">
      <div class="form-group">
        <label for="email">Prefix</label>
        <input type="email"
               class="form-control"
               id="email">
      </div>
    </div>
    <div class="col-3">
      <div class="form-group">
        <label for="email">First Name</label>
        <input type="email"
               class="form-control"
               [formControl]="firstName">
      </div>
    </div>
    <div class="col-3">
      <div class="form-group">
        <label for="email">Middle Name</label>
        <input type="email"
               class="form-control"
               id="email">
      </div>
    </div>
    <div class="col-3">
      <div class="form-group">
        <label for="email">Last Name</label>
        <input type="email"
               class="form-control"
               id="email">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <label for="email">Company Name</label>
        <input type="email"
               class="form-control"
               id="email">
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label for="email">Profile</label>
        <input type="email"
               class="form-control"
               id="email">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <label for="email">Pan Number</label>
        <input type="email"
               class="form-control"
               id="email">
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label for="email">Aadhar Number</label>
        <input type="email"
               class="form-control"
               id="email">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <div class="form-group">
        <label for="email">Type</label>
        <input type="email"
               class="form-control"
               id="email">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="form-group">
        <label for="email">Country</label>
        <input type="email"
               class="form-control"
               id="email">
      </div>
    </div>
    <div class="col-4">
      <div class="form-group">
        <label for="email">State</label>
        <input type="email"
               class="form-control"
               id="email">
      </div>
    </div>
    <div class="col-4">
      <div class="form-group">
        <label for="email">Pincode</label>
        <input type="email"
               class="form-control"
               id="email">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <label for="email">Street1</label>
        <input type="email"
               class="form-control"
               id="email">
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label for="email">Street2</label>
        <input type="email"
               class="form-control"
               id="email">
      </div>
    </div>
  </div>
</form>