<div class="footer">
  <div class="row">
    <div class="col-4 copy-text">
      <div>Copyright © 2019 Axis Bank</div>
    </div>
    <div class="col-7">
      <nav class="navbar navbar-expand-lg">
        <ul class="nav navbar-nav">
          <li class="nav-item" class="active">
            <a class="nav-link">Disclaimer</a>
          </li>
          <li class="nav-item"><a class="nav-link">Privacy Policy</a></li>
          <li class="nav-item"><a class="nav-link">Code of Commitment</a></li>
          <li class="nav-item">
            <a class="nav-link">Responsible Disclore Policy</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
