<div class="forms">
  <div class="row">
    <div class="col-2">
      <div class="form-group">
        <label for="loanId">ID:</label>
        <input type="text"
               class="form-control"
               id="loanId"
               readonly
               [ngModel]="currentLoan.loanId" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <label>Borrowers</label>
    </div>
  </div>
  <div class="row">
    <div class="col-4 form-group"
         *ngFor="let borrower of currentLoan.borrowers">
      <input type="text"
             class="form-control"
             readonly
             [ngModel]="borrower.firstName" />
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="form-group">
        <label for="loanId">Type:</label>
        <input type="text"
               class="form-control"
               id="loanId"
               readonly
               [ngModel]="currentLoan.type" />
      </div>
    </div>
    <div class="col-4">
      <div class="form-group">
        <label for="loanId">Rate of Interest:</label>
        <input type="text"
               class="form-control"
               id="loanId"
               readonly
               [ngModel]="currentLoan.rateOfInterest" />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <div class="form-group">
        <label for="loanId">Loan Amount:</label>
        <input type="text"
               class="form-control"
               id="loanId"
               readonly
               [ngModel]="currentLoan.loanAmt" />
      </div>
    </div>
    <div class="col-4">
      <div class="form-group">
        <label for="loanId">EMI Amount:</label>
        <input type="text"
               class="form-control"
               id="loanId"
               readonly
               [ngModel]="currentLoan.emiAmt" />
      </div>
    </div>
    <div class="col-4">
      <div class="form-group">
        <label for="loanId">Balance:</label>
        <input type="text"
               class="form-control"
               id="loanId"
               readonly
               [ngModel]="currentLoan.balanceAmt" />
      </div>
    </div>
  </div>

</div>